.container {
  min-height: 100vh;
  padding: 17% 10% 20% 20%;
  display: flex;
  flex-direction: column;
  background-color: black;
  color: #eaeaea;
  font-size: 3rem;
  position: relative;
}

.homecontainer {
  min-height: 100vh;
  padding: 10% 10% 8% 15%;
  display: flex;
  flex-direction: column;
  background-color: black;
  color: #eaeaea;
  font-size: 3rem;
  position: relative;
}

.bgPhoto {
  top: 6% !important;
  z-index: 0;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 35%;
  animation-name: bgPhoto;
  background-image: url(../public/home-bg-2.jpeg);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-animation: bgPhoto 1.2s cubic-bezier(0.5, 0.6, 0.6, 1);
  -moz-animation: bgPhoto 1.2s cubic-bezier(0.5, 0.6, 0.6, 1);
  animation: bgPhoto 1.2s cubic-bezier(0.5, 0.6, 0.6, 1);
  -webkit-animation-fill-mode: backwards;
  -moz-animation-fill-mode: backwards;
  animation-fill-mode: backwards;
}

@keyframes bgPhoto {
  0% {
    transform: scale(1.2, 1.2);
  }
  100% {
    transform: scale(1, 1);
  }
}

.homepageheading {
  font-size: 18vmin;
  font-weight: bold;
  max-height: 100vh;
  max-width: fit-content;
}

#homehead1 {
  animation-name: landinganimation;
  animation-duration: 0.4s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  opacity: 0;
}

#homehead2 {
  animation-name: landinganimation;
  animation-duration: 0.4s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  animation-delay: 0.4s;
  opacity: 0;
}

#homehead3 {
  animation-name: landinganimation;
  animation-delay: .8s;
  animation-duration: 0.4s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  opacity: 0;
}

.heading {
  font-size: 83px;
  animation-name: aboutanimation;
  animation-duration: 0.9s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  position: relative;
}

.headingcontact {
  font-size: 83px;
  animation-name: contactanimation;
  animation-duration: 0.9s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  position: relative;
  overflow: hidden;
  position: relative;
}

.workpageheading {
  font-size: 100px !important;
  font-weight: bold;
  max-height: 100vh;
  
}


.workpagesubhead {
  color: red;
  font-size: 1rem !important;
  margin-top: 3vh;
  transition: 0.4s;
  transition-timing-function: ease-out;
}

.worklink:hover div {
  transition: 0.4s;
  transition-timing-function: ease-out;
  margin-left: 5%;
}

.hoverlink {
  transition: 2s;
}

.hoverlink span a {
  text-decoration: none;
  color: red;
}

#homehead1 span a {
  color: white !important;
}

.hoverlink span {
  display: none;
  transition: 2s;
}

.hoverlink:hover span {
  display: inline;
  text-decoration: none;
  color: white;
  margin-left: 10%;
}
.hoverlink:hover div {
  display: none;
}

.logo {
  float: right;
  position: absolute;
}

.logoInner {
  position: fixed;
  top: 10%;
  z-index: 999;
  right: 13%;
  font-weight: 700;
}

/* logo hover */

.logohoverlink {
  transition: 4s;
  transition: 0.4s;
  transition-timing-function: ease-out;
}

.logohoverlink:hover {
  margin-left: 30%;
}

.logohoverlink span a {
  text-decoration: none;
  color: black;
}

.logohoverlink span {
  display: none;
  transition: 2s;
}

.logohoverlink:hover span {
  display: inline;
  text-decoration: none;
  color: white;
  transition: 4s;
  transition-timing-function: ease-out;
  transition: all 2s cubic-bezier(0.2, 0.6, 0.2, 1);
}
.logohoverlink:hover div {
  display: none;
}

/* end */

#headingcontact {
  font-size: 83px;
}

@keyframes landinganimation {
  0% {
    transform: translateY(8vh);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes aboutanimation {
  0% {
    margin-left: -300%;
  }
  100% {
    margin-left: 0px;
  }
}

@keyframes contactanimation {
  0% {
    margin-left: 300%;
  }
  100% {
    margin-left: 0px;
  }
}

.subheading {
  font-size: 40px;
  margin-bottom: 10%;
  transition: 0.3s;
}

.subheading:hover {
  margin-left: 5%;
}

.paragraph {
  font-size: 24px;
  font-family: Regular;
  line-height: 170%;
}

.links {
  font-family: "Medium";
  font-size: 24px;
}

.contactlinks {
  transition: 0.4s;
  transition-timing-function: ease-out;
  margin: 3vh 0;
  font-weight: 550;
}

.contactlinks:hover {
  margin-left: 5%;
  text-decoration: none;
}

.tapindicaton {
  display: none;
  animation: tap 0.5s infinite alternate;
  animation-duration: infinite;
  color: white;
}

@keyframes tap {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-8px);
  }
}

@media only screen and (max-width: 500px) {
  .heading,
  .headingcontact {
    font-size: 50px;
  }

  .navbar li.active a:before {
    left: 0;
    top: 50%;
    width: 1.5rem;
    height: 2px;
    margin-left: 6px;
    margin-top: -1px;
    border-top: 2px solid red;
    border-radius: 2px;
    padding: 0;
    border-top: none;
  }

  .container {
    padding: 60% 10%;
    width: fit-content;
  }

  .centerheading {
    padding: 50% 29% 50% 0 !important;
    font-size: 3rem !important;
  }

  .homecontainer {
    padding: 60% 10%;
  }

  .bgPhoto {
    left: -7%;
  }

  .tapindicaton {
    display: inline;
    text-align: center;
    font-size: 3.6vmin;
    padding: 30%;
    position: fixed;
    z-index: 999;
    top: 75%;
  }

  .tapchange span {
    display: block;
  }

  .tapchange div h1 div div {
    display: none;
  }
}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer img {
  margin-left: 0.5rem;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin-top: 3rem;
}

.card {
  margin: 1rem;
  flex-basis: 45%;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h3 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

/*Company page styles*/

.companypagecontainer {
  min-height: 100vh;
  padding-left: 10%;
  display: flex;
  flex-direction: column;
  background-color: white;
  color: #eaeaea;
  font-size: 3rem;
  padding-bottom: 15%;
  position: relative;
  width: fit-content;
}

.centerheading {
  padding: 20% 29% 20% 0;
}

.projectheading {
  font-size: 2.5rem;
  font-weight: bold;
  max-height: 100vh;
  max-width: fit-content;
  color: black;
  margin: 12vh 0 3vh 0;
}

.companypageheading {
  font-size: 100px;
  font-weight: bold;
  max-height: 100vh;
  max-width: fit-content;
  color: black;
  background-color: white;
}

.projectcontainer {
  padding-left: 8%;
  padding-right: 18%;
}

.projecttext {
  line-height: 170%;
  font-family: "Regular";
  font-size: 18px;
  margin-bottom: 3vh;
  color: #000000;
}
