.container {
  min-height: 100vh;
  padding: 20% 30% 20% 20%; 
  display: flex;
  flex-direction: column;
  background-color: black;
  color: #eaeaea;
  font-size: 3rem;
  
  position: relative;
}

.homepageheading{
  font-size: 70px;
  font-weight: bold;
  max-height: 100vh;
  animation-name: landinganimation;
  animation-duration: .5s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  max-width: fit-content;
}

.heading{
  font-size: 83px;
  animation-name: aboutanimation;
  animation-duration: .9s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  position: relative;
}

.headingcontact{
  font-size: 83px;
  animation-name: contactanimation;
  animation-duration: .9s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  position: relative;
  overflow: hidden;
  position: relative;
}

.hoverlink{
  transition: 2s;
}

.hoverlink span a{
  text-decoration: none;
  color: white;
}

.hoverlink span{
  display: none;
  transition: 2s;
}

.hoverlink:hover span{
  display: inline;
  text-decoration: none;
  color: white;
  margin-left: 10%
}
.hoverlink:hover div{
  display: none;
}

#headingcontact{
  font-size: 83px;
  
}

@keyframes landinganimation{
  0%{margin-top: 300%;}
  100%{margin-top:0px;}
}


@keyframes aboutanimation{
  0%{margin-left: -300%;}
  100%{margin-left:0px;}
}

@keyframes contactanimation{
  0%{
    margin-left: 300%;
  }
  100%{margin-left:0px;}
}

.subheading{
  font-size: 40px;
  margin-bottom: 10%;
  transition: 0.3s;
}

.subheading:hover{
  margin-left: 10%;
}

.paragraph{
  font-size: 24px;
}

.links{
  font-family: "Medium";
  font-size: 24px;
}

.contactlinks{
  transition: 0.4s;
  margin: 3vh 0;
  font-weight: 550;
  transition-timing-function: ease-out;
}

.contactlinks:hover {
  margin-left: 8%;
}

@media only screen and (max-width: 500px){
  .heading, .headingcontact{
    font-size: 50px
  }

  .navbar li.active a:before{
    left: 0;
    top: 50%;
    width: 1.5rem;
    height: 2px;
    margin-left: 6px;
    margin-top: -1px;
    border-top: 2px solid red;
    border-radius: 2px;
    padding: 0;
    border-top: none;
  }

  .container{
    padding: 60% 10%
  }
}



.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer img {
  margin-left: 0.5rem;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin-top: 3rem;
}

.card {
  margin: 1rem;
  flex-basis: 45%;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h3 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
